<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
  <title>Survey Data Application</title>

  <style>
  .graphs{
    margin: auto;
    width: 50%;
    border: 2px solid black;
  }
  .container{
    margin: auto;
    width: 50%;
  }
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     
      <script src="/static/js/index.js"></script>


  <!-- If you want to use Google Chart, you need to import this library -->
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body onLoad="retrieveSurveyData()">
<div  class="container" style="border-style: ridge;">

  
  <div style="background-color:rgb(204, 0, 102);">
  <H1 style="text-align:center;"> Survey Details From {{countryName}} </H1>
  </div>
  
  

 
<br>

  
  <div  style="height: 100%" >
    <H3 style='background-color:rgb(241, 115, 199)'>Group-1: Males with Age less than or equal to 35</H3>
  <div class="table-responsive" id="dataTablediv1"> 
  <table class="table table-striped table-bordered" id="dataTable1">
		<thead>
		  <tr>
			<caption style='background-color:rgb(156, 151, 223)'>Grouped By Country and Clustered using Kmeans for groups with more than 10 records. <br>
        First 15 records are displayed here. Please click on the pagination to access next set of records in each table</caption>
		  </tr>
      <tr>
        
        <!-- <th>Index</th> -->
       <th>Country</th>
       <th>Age</th>
       <th>Gender</th>
       <th>Fear</th>
       <th>Anxious</th>
       <th>Anger</th>
       <th>Happiness</th>
        <th>Sadness</th>
        <th>emotionalBigImpact</th>
        <th>Reason</th>
        <th>MostMeaning</th>
        <th>Occupation</th>
        <th>AddField1</th>
        <th>AddField2</th>
        <th>AddField3</th>
     </tr>
		</thead>
		<tbody>
      
      {% if country_list1|length==0 %} 
    <tr> <td colspan="15">No Records</td>
    </tr>
      {% endif %}

      {% for country in country_list1 %}   
      <tr>
        <td colspan='16' style='background-color:rgb(141, 243, 172)'><b>{{country[0]}}</b></td>
        </tr> 
        {% if country[1]<=10 %} 

          {% for row in group1 %} 

            {% if row[1] ==country[0] %} 
			      <tr>
            {% set count = namespace(value=0) %}
               {% for data in row %}
         
                  {% if count.value>0 %} 
         
					        <td>{{ data }}</td> 
          
                  {% endif %} 
                {% set count.value = count.value + 1 %} 
              
                {% endfor %}    
                  
			      </tr>
            {% endif %} 

          {% endfor %}

        
         
          {% else %}

          {% for level1 in group1Kmeans %} 
            
            {% set count = namespace(value=1) %}
  
            {% for level2 in level1 %}
  
              {% if level2|length > 0%} 

              {% if level2[0][1]==country[0] %}
            
              <tr>
                <td colspan='16' style='background-color:rgb(15, 70, 189)'><b>KMeans-Cluster:{{count.value }}</b></td>
                </tr> 
              <tr>

                {% endif %} 
              
              {% endif %} 
  
              {% for row in level2 %} 
  
                {% if row[1] ==country[0] %} 
                
                {% set count = namespace(value=0) %}
                  {% for data in row %}
            
                      {% if count.value>0 %} 
            
                      <td>{{ data }}</td> 
              
                      {% endif %} 
                    {% set count.value = count.value + 1 %} 
                  
                    {% endfor %}    
                      
                </tr>
                {% endif %} 
  
              {% endfor %}
              {% set count.value = count.value + 1 %} 
  
            {% endfor %}
        
          
  
          {% endfor %}
        {% endif %}
  
       {% endfor %}
    
    </tbody>
    </table>
  </div>
  <!-- </div>
  </div> -->
  </div>
  


<br>
<br>




<div  style="height: 100%">
  <H3 style='background-color:rgb(241, 115, 199)'>Group-2: Males with Age Greater than or equal to 36</H3>
<div class="table-responsive" id="dataTablediv2"> 
<table class="table table-striped table-bordered" id="dataTable2">
  <thead>
    <tr>
    <caption style='background-color:rgb(156, 151, 223)'>Grouped By Country and Clustered using Kmeans for groups with more than 10 records. <br>
        First 15 records are displayed here. Please click on the pagination to access next set of records in each table</caption>
    </tr>
    <tr>
      
      <!-- <th>Index</th> -->
     <th>Country</th>
     <th>Age</th>
     <th>Gender</th>
     <th>Fear</th>
     <th>Anxious</th>
     <th>Anger</th>
     <th>Happiness</th>
      <th>Sadness</th>
      <th>emotionalBigImpact</th>
      <th>Reason</th>
      <th>MostMeaning</th>
      <th>Occupation</th>
      <th>AddField1</th>
      <th>AddField2</th>
      <th>AddField3</th>
   </tr>
  </thead>
  <tbody>

    {% if country_list2|length==0 %} 
    <tr> <td colspan="15">No Records</td>
    </tr>
      {% endif %}
 
    {% for country in country_list2 %}   
    <tr>
      <td colspan='16' style='background-color:rgb(141, 243, 172)'><b>{{country[0]}}</b></td>
      </tr> 
      {% if country[1]<=10 %} 

        {% for row in group2 %} 

          {% if row[1] ==country[0] %} 
          <tr>
          {% set count = namespace(value=0) %}
             {% for data in row %}
       
                {% if count.value>0 %} 
       
                <td>{{ data }}</td> 
        
                {% endif %} 
              {% set count.value = count.value + 1 %} 
            
              {% endfor %}    
                
          </tr>
          {% endif %} 

        {% endfor %}

      
       
      {% else %}

        {% for level1 in group2Kmeans %} 
          
          {% set count = namespace(value=1) %}

          {% for level2 in level1 %}

          {% if level2|length > 0%} 

          {% if level2[0][1]==country[0] %}
        
          <tr>
            <td colspan='16' style='background-color:rgb(15, 70, 189)'><b>KMeans-Cluster:{{count.value }}</b></td>
            </tr> 
          <tr>

            {% endif %} 
          
          {% endif %} 

            {% for row in level2 %} 

              {% if row[1] ==country[0] %} 
              
              {% set count = namespace(value=0) %}
                {% for data in row %}
          
                    {% if count.value>0 %} 
          
                    <td>{{ data }}</td> 
            
                    {% endif %} 
                  {% set count.value = count.value + 1 %} 
                
                  {% endfor %}    
                    
              </tr>
              {% endif %} 

            {% endfor %}
            {% set count.value = count.value + 1 %} 

          {% endfor %}
      
        

        {% endfor %}
      {% endif %}

     {% endfor %}
  
  </tbody>
  </table>
</div>
<!-- </div>
</div> -->
</div>




<br>
<br>


<div  style="height: 100%">
  <H3 style='background-color:rgb(241, 115, 199)'>Group-3: Females with Age less than or equal to 35</H3>
<div class="table-responsive" id="dataTablediv3"> 
<table class="table table-striped table-bordered" id="dataTable3">
  <thead>
    <tr>
    <caption style='background-color:rgb(156, 151, 223)'>Grouped By Country and Clustered using Kmeans for groups with more than 10 records. <br>
      First 15 records are displayed here. Please click on the pagination to access next set of records in each table </caption>
    </tr>
    <tr>
      
      <!-- <th>Index</th> -->
     <th>Country</th>
     <th>Age</th>
     <th>Gender</th>
     <th>Fear</th>
     <th>Anxious</th>
     <th>Anger</th>
     <th>Happiness</th>
      <th>Sadness</th>
      <th>emotionalBigImpact</th>
      <th>Reason</th>
      <th>MostMeaning</th>
      <th>Occupation</th>
      <th>AddField1</th>
      <th>AddField2</th>
      <th>AddField3</th>
   </tr>
  </thead>
  <tbody>

    {% if country_list3|length==0 %} 
    <tr> <td colspan="15">No Records</td>
    </tr>
      {% endif %}
 
    {% for country in country_list3 %}   
    <tr>
      <td colspan='16' style='background-color:rgb(141, 243, 172)'><b>{{country[0]}}</b></td>
      </tr> 
      {% if country[1]<=10 %} 

        {% for row in group3 %} 

          {% if row[1] ==country[0] %} 
          <tr>
          {% set count = namespace(value=0) %}
             {% for data in row %}
       
                {% if count.value>0 %} 
       
                <td>{{ data }}</td> 
        
                {% endif %} 
              {% set count.value = count.value + 1 %} 
            
              {% endfor %}    
                
          </tr>
          {% endif %} 

        {% endfor %}

      
       
      {% else %}

        {% for level1 in group3Kmeans %} 
          
          {% set count = namespace(value=1) %}

          {% for level2 in level1 %}
          
          {% if level2|length > 0%} 

          {% if level2[0][1]==country[0] %}
        
          <tr>
            <td colspan='16' style='background-color:rgb(15, 70, 189)'><b>KMeans-Cluster:{{count.value }}</b></td>
            </tr> 
          <tr>

            {% endif %} 
          
          {% endif %} 

            {% for row in level2 %} 

              {% if row[1] ==country[0] %} 
              
              {% set count = namespace(value=0) %}
                {% for data in row %}
          
                    {% if count.value>0 %} 
          
                    <td>{{ data }}</td> 
            
                    {% endif %} 
                  {% set count.value = count.value + 1 %} 
                
                  {% endfor %}    
                    
              </tr>
              {% endif %} 

            {% endfor %}
            {% set count.value = count.value + 1 %} 

          {% endfor %}
      
        

        {% endfor %}
      {% endif %}

     {% endfor %}
  
  </tbody>
  </table>
</div>
<!-- </div>
</div> -->
</div>

<br>
<br>

<div  style="height: 100%">
  <H3 style='background-color:rgb(241, 115, 199)'>Group-4: Females with Age greater than or equal to 36</H3>
<div class="table-responsive" id="dataTable4"> 
<table class="table table-striped table-bordered" id="dataTable4">
  <thead>
    <tr>
    <caption style='background-color:rgb(156, 151, 223)'>Grouped By Country and Clustered using Kmeans for groups with more than 10 records.  <br>
      First 15 records are displayed here. Please click on the pagination to access next set of records in each table</caption>
    </tr>
    <tr>
      
      <!-- <th>Index</th> -->
     <th>Country</th>
     <th>Age</th>
     <th>Gender</th>
     <th>Fear</th>
     <th>Anxious</th>
     <th>Anger</th>
     <th>Happiness</th>
      <th>Sadness</th>
      <th>emotionalBigImpact</th>
      <th>Reason</th>
      <th>MostMeaning</th>
      <th>Occupation</th>
      <th>AddField1</th>
      <th>AddField2</th>
      <th>AddField3</th>
   </tr>
  </thead>
  <tbody>
 

    {% if country_list4|length==0 %} 
    <tr> <td colspan="15">No Records</td>
    </tr>
      {% endif %}


    {% for country in country_list4 %}   
    <tr>
      <td colspan='16' style='background-color:rgb(141, 243, 172)'><b>{{country[0]}}</b></td>
      </tr> 
      {% if country[1]<=10 %} 

        {% for row in group4 %} 

          {% if row[1] ==country[0] %} 
          <tr>
          {% set count = namespace(value=0) %}
             {% for data in row %}
       
                {% if count.value>0 %} 
       
                <td>{{ data }}</td> 
        
                {% endif %} 
              {% set count.value = count.value + 1 %} 
            
              {% endfor %}    
                
          </tr>
          {% endif %} 

        {% endfor %}

      
       
      {% else %}

        {% for level1 in group4Kmeans %} 
          
          {% set count = namespace(value=1) %}

          {% for level2 in level1 %}
          
          {% if level2|length > 0%} 

          {% if level2[0][1]==country[0] %}
        
          <tr>
            <td colspan='16' style='background-color:rgb(15, 70, 189)'><b>KMeans-Cluster:{{count.value }}</b></td>
            </tr> 
          <tr>

            {% endif %} 
          
          {% endif %} 

            {% for row in level2 %} 

              {% if row[1] ==country[0] %} 
              
              {% set count = namespace(value=0) %}
                {% for data in row %}
          
                    {% if count.value>0 %} 
          
                    <td>{{ data }}</td> 
            
                    {% endif %} 
                  {% set count.value = count.value + 1 %} 
                
                  {% endfor %}    
                    
              </tr>
              {% endif %} 

            {% endfor %}
            {% set count.value = count.value + 1 %} 

          {% endfor %}
      
        

        {% endfor %}
      {% endif %}

     {% endfor %}
  
  </tbody>
  </table>
</div>
<!-- </div>
</div> -->
</div>

</div>

</body>
</html>
